.btn-custom:active:hover{
  color: #fff;
  background-color: #5863F8;
  border-color: #5FBFF9;
}
.btn-custom {
  color: #fff;
  background-color: #16BAC5;
  border-color: #51becc;
}
.pontuacaoRodada{
  margin-top: 20px;
  float: left;
  text-align: center;
}
.base{
  width: 95px;
  height: 95px;
  border-radius: 9px;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  border: 1px solid rgba(35,29,40,.15);
  margin-bottom: 15px;
}
.speaker{
  width: 90px;
  height: 90px;
  margin-top: 10px;
  float: right;
  margin-bottom: 15px;
}
.body{
  background: linear-gradient(#5FBFF9, #ffffff);
  min-height: 500px;
}
.img-inline1 {
  float: left;
  max-width: 50% !important;
  margin-left: 14%;
}
.img-inline2 {
  float: right;
  max-width: 50% !important;
  margin-right: 14%;
}
#imgSel {
  height: 93px;
  border-radius: 18px;
}
.itemLetra {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 30px;
}
.inner {
  display: table;
  margin: -10px auto;
}
.ativo {
  color: #ffffff;
}
.in{
  display: block;
}
.off{
  display: none;
}
.form-nomes{
  /*margin-left: 10px;*/
  width: 100%;
  max-width: 350px;
}
.rodape {
  background-color: #5FBFF9;
  color: #fff;
  height: 35px;
}
.textoCentralizadoTopo {
  text-align: center;
  margin-top: 2px;
  color: #ffffff;
}
.textoCentralizado {
  text-align: center;
  margin-top: -2px;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: linear-gradient(to right,rgba(0, 2, 2, 0.0001) 0, rgba(15, 145, 247, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.left {
  background-image: linear-gradient(to left,rgba(0, 2, 2, 0.0001) 0,rgba(15, 145, 247, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
